@import '../../../scss/mixins/index.scss';


.strategiesCardList {
    padding: 120px 0;

    @include breakpoint("md-max") {
        padding: 60px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        gap: 40px 20px;

        @include breakpoint("md-max") {
            grid-template-columns: repeat(2 , 1fr);
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1 , 1fr);
        }

    }
}