@import '../../../scss/mixins/index.scss';

.bestMarketingToolalignment {
    padding: 120px 0;

    .grid {
        display: grid;
        grid-template-columns: 1fr 700px;
        gap: 70px;
        align-items: center;

        .img {
            img {
                border-radius: 24px;
                display: block;
                width: 100%;
            }
        }

        p {
            color: var(--foundation-white-dark-active, #737373);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

            @include breakpoint("sm-max") {
                @include font14;
            }
        }

        h2 {
            @include heading1;
            margin: 16px 0;
            color: var(--Foundation-Blue-Dark, #0B0B14);
        }
    }
}