@import '../../scss/mixins/index.scss';

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 20px 0;

    .headerAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            position: relative;
            width: 180px;
            cursor: pointer;
            height: 38px;
        }

        .buttonDesign {
            svg {
                transition: .3s ease-in-out;

                path {
                    transition: .3s ease-in-out;

                }
            }

            button {
                &:hover {
                    svg {
                        path {
                            fill: #014EFF;
                            transition: .3s ease-in-out;

                        }
                    }
                }
            }
        }

        .menuAlignment {
            display: flex;
            align-items: center;
            gap: 10px;

            .menu {
                padding: 8px 20px;
                color: #0F0F1A;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                border-radius: 999px;
                cursor: pointer;
                transition: .3s ease-in-out;
                display: flex;
                align-items: center;
                gap: 6px;
                line-height: normal;

                svg {
                    width: 12px;
                    height: 12px;
                }

                &:hover {
                    background: #E6EDFF;
                }
            }
        }
    }
}

.relativeHeader {
    position: relative;

    .grid {
        padding: 60px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .gridItems {
            border-radius: 14px;
            border: 1.2px solid var(--foundation-white-normal-hover, #E6E6E6);
            padding: 30px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                border: 1.2px solid #014EFF;
            }

            .solution {
                display: flex;
                align-items: center;
                gap: 5px;

                &:hover {
                    svg {
                        transform: translateX(6px);
                    }
                }
                svg {
                    transition: .3s ease-in-out;
                }
                span {
                    display: block;
                    color: var(--Foundation-Blue-Normal, #014EFF);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            h3 {
                color: var(--Foundation-Blue-Dark, #0B0B14);
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                margin: 0 0 10px 0;
                line-height: normal;
                letter-spacing: -0.22px;
            }

            p {
                color: var(--foundation-white-dark-active, #737373);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 20px 0;
                line-height: 24px;
            }
        }
    }

    .submenubox {
        position: fixed;
        top: 86px;
        width: 100%;
        left: 0;
        background-color: #fff;
        z-index: 99;

        &.show {
            max-height: 100vh;
            transition: .3s ease-in-out;
            overflow: hidden;
        }

        &.hide {
            max-height: 0px;
            overflow: hidden;
            transition: .3s ease-in-out;
        }
    }

    .blurDiv {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        visibility: hidden;
        position: fixed;
        opacity: 0;
        left: 0;
        top: 86px;
        width: 100%;
        height: 100%;
        z-index: 99;
        transition: opacity 0.325s cubic-bezier(0.4, 0, 0.6, 1) 80ms, visibility 0s step-end 80ms;

        &.open {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
                visibility 0s step-start 80ms;
        }
    }
}