@import '../../../../scss/mixins/index.scss';

.trustedPartners {
    background-color: rgba(241, 242, 244, 0.7);
    border-radius: 34px;
    padding: 100px 0;

    h2 {
        @include heading1;
        color: #0B0B14;
        text-align: center;
        margin: 0 0 70px 0;
    }

    img {
        max-width: 200px;
        margin-right: 100px;
    }
}